img {
    border: 0;
	height: auto;
	max-width: 100%;
	-ms-interpolation-mode: bicubic;
}


/* 	Flex Customization
----------------------------------------------------------------------*/
/* Big-Slider */
.big-slider .flex-direction-nav a {
	top: 250px !important;
	bottom: auto !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 1 !important;
	padding: 8px 14px;
	background-color: transparent !important;
}
.flex-direction-nav a:hover {background-color: transparent !important;}
.big-slider:hover .flex-direction-nav a { 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1 !important;
}
.big-slider .flex-direction-nav a i {
	color: #FFF;
	font-size: 40px;
}
.big-slider .flex-direction-nav a:hover i {
	color: #0086EF
}
.big-slider .flex-direction-nav a:focus i , .big-slider .flex-direction-nav a:focus,
.big-slider .flex-direction-nav:focus
{
	outline: 0 !important;
}
.big-slider .flex-direction-nav .flex-next {
	left: 65px !important;
	right: auto !important;
}
.big-slider .flex-direction-nav .flex-prev {
	left: 20px !important;
	right: auto !important;
}
.big-slider h3 {
	position: absolute;
	top: 140px;
	left: 30px;
	font-size: 35px;
	background: #FFF;
	background: rgba(255, 255, 255, 0.9);
	color: #435263;
	padding: 15px;
	font-weight: normal;
	text-transform: uppercase;
	display: none;
}
.big-slider p {
	position: absolute;
	top: 192px;
	left: 30px;
	background: #435263;
	background: rgba(67,82,99, 0.9);
	color: #FFF;
	padding: 6px 20px;
	display: none;
	font-size: 22px;
	line-height: 26px;
}
.big-slider p.flex-price {
	position: absolute;
	top: 110px;
	left: 30px;
	background: #0086EF;
	background: rgba(127,100,181, 0.9);
	color: #FFF;
	padding: 6px 20px;
	display: none;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}
.big-slider .firstly h3,
.big-slider .firstly p {
	display: block
}
.big-slider .flex-active-slide h3.effect {
	-webkit-animation: pullDown 1s;
	animation: pullDown 1s
}
.big-slider .flex-active-slide p.effectt {
	-webkit-animation: pullDown 1.5s;
	animation: pullDown 1.5s
}
.big-slider h3. {
	right: 20px !important;
	background: red;
}
/* General FlexSlider */
.general-slider .flex-direction-nav a {
	bottom: 5px !important;
	top: auto !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1 !important;
	padding: 8px 14px;
	background-color: transparent !important;
}
.general-slider .flex-direction-nav a i {
	color: #FFF;
	font-size: 40px;
}
.general-slider .flex-direction-nav a:hover i {
	color: #0086EF
}
.general-slider .flex-direction-nav .flex-next {
	right: 20px !important;
}
.general-slider .flex-direction-nav .flex-prev {
	right: 65px !important;
	left: auto !important;
}
/* 	Flex Slider
----------------------------------------------------------------------*/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles */ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {display: block; width: 100%}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {
	margin: 0 0 60px 0; 
	background: #fff; 
	border: 4px solid #fff; 
	position: relative; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	-o-border-radius: 4px; 
	border-radius: 4px; 
	box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.flex-viewport {
	max-height: 2000px; 
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	transition: all 1s ease;
}
.loading .flex-viewport {max-height: 300px;}
.carousel li {margin-right: 5px}

/* Direction Nav */
.flex-direction-nav a {
	margin: -20px 0 0; 
	display: block;
	background-color: #272727; 
	padding: 8px; 
	position: absolute; 
	top: 50%; 
	cursor: pointer; 
	opacity: 1; 
	-webkit-transition: all .3s ease;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.flex-direction-nav a:hover {background-color: #696969;}
.flex-direction-nav a i {color: #fff;}
.flex-direction-nav a:hover i {color: #FFF;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 8px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 8px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 0.8;}
.flex-direction-nav .flex-disabled {opacity: 0 !important; cursor: default;}

/* Control Nav */
.flex-control-nav {
	position: absolute; 
	text-align: center;
	right: 20px;
	bottom: 10px;
}
.flex-control-nav li {
	margin: 0 6px; 
	display: inline-block;
}
.flex-control-paging li a {
	background-color: #BDBEC4;
	width: 8px; 
	height: 8px; 
	display: block; 
	cursor: pointer; 
	text-indent: -9999px; 
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	-o-border-radius: 20px; 
	border-radius: 20px; 
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.m-thumb .flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background-color: #696969; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
	.flex-direction-nav .flex-prev {opacity: 1; left: 0;}
	.flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

/**	Overwrite original style     **/
.flexslider {
	margin: 0 ;
	background-color : transparent;
	border: none;
	position: relative;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
}
/**	Control nav	**/
.flex-control-nav li {
	padding: 4px;
	margin: 0;
}
.flexslider.position-nav-under .flex-control-nav {
	position : absolute;
	top: 4px;
	right: 4px;
}
.testimonial-wrapper .flex-control-nav {
	position : absolute;
	bottom: 4px;
	right: 4px;
}
.flexslider.flexslider.position-nav-under {
	margin-bottom: 0px;
}
.flexslider.position-nav-bottom .flex-control-nav {
	position : absolute;
	bottom:9px;
}
.flexslider.position-nav-top .flex-control-nav {
	position : absolute;
	top:9px;
}
.color-nav-dark .flex-control-paging li a {
	background-color : #A7A7A7;
	background-color: rgba(236, 236, 236, 0.3);
	box-shadow: inset -1px 1px 1px rgba(0,0,0,0.5);
}
.color-nav-dark .flex-control-paging li a:hover, .color-nav-dark .flex-control-paging li a.flex-active {
	background-color: #618BD3
}
.color-nav-light .flex-control-paging li a {
	background-color : #999;
	background-color: rgba(255,255,255,0.55);
	box-shadow: inset -1px 1px 1px rgba(0,0,0,0.5);
}
.color-nav-light .flex-control-paging li a:hover {
	background-color: #bbb;
	background-color: rgba(255,255,255,0.70);
}
.color-nav-active-black .flex-control-paging li a.flex-active {
	background-color: #111;
}
.color-nav-active-green .flex-control-paging li a.flex-active {
	background-color: #359BED;
}
.color-nav-active-orange .flex-control-paging li a.flex-active {
	background-color: #ec6104;
}
.flex-active {
	background-color: #fff;
}
.color-nav-active-red .flex-control-paging li a.flex-active {
	background-color: #c61013;
}
.color-nav-active-white .flex-control-paging li a.flex-active {
	background-color: #fff;
}
/**	Slide theme 	**/
.flex-slide-theme-horizontal {
	margin-top:25px;
	margin-bottom:30px;
	border-left:1px solid #555;
	border-right:1px solid #555;
	border-color:rgba(0,0,0,0.6);
}
.flex-slide-theme-horizontal .slide-theme {
	display: block;
	height: 100%;
	top:0;
	left: 0;
	position: absolute;
	width:100%;
	z-index:-1;
}
.flex-slide-theme-horizontal .slide-theme-side {
	display: block;
	height: 26px;
	position: absolute;
	width: 45px;
}
.flex-slide-theme-horizontal .slide-theme-side.slide-bottom-left {
	background-position: -2px -28px;
	bottom: -26px;
	left: -1px;
}
.flex-slide-theme-horizontal .slide-theme-side.slide-top-left {
	background-position: -2px 0px;
	top: -26px;
	left: -1px;
}
.flex-slide-theme-horizontal .slide-theme-side.slide-bottom-right {
	background-position: -64px -28px;
	bottom: -26px;
	right: -2px;
}
.flex-slide-theme-horizontal .slide-theme-side.slide-top-right {
	background-position: -64px 0px;
	top: -26px;
	right: -2px;
}
.flex-slide-theme-vertical {
	margin-left:25px;
	margin-right:25px;
	border-top:1px solid #555;
	border-bottom:1px solid #555;
	border-color:rgba(0,0,0,0.6);
}
.flex-slide-theme-vertical .slide-theme {
	display: block;
	height: 100%;
	top:0;
	left: 0;
	position: absolute;
	width:100%;
	z-index:-1;
}
.flex-slide-theme-vertical .slide-theme-side {
	display: block;
	height: 40px;
	position: absolute;
	width: 25px;
}
.flex-slide-theme-vertical .slide-theme-side.slide-bottom-left {
	background-position: -111px -13px;
	bottom: -1px;
	left: -25px;
}
.flex-slide-theme-vertical .slide-theme-side.slide-top-left {
	background-position: -167px -16px;
	top: -1px;
	left: -25px;
}
.flex-slide-theme-vertical .slide-theme-side.slide-bottom-right {
	background-position: -139px -13px;
	bottom: -1px;
	right: -25px;
}
.flex-slide-theme-vertical .slide-theme-side.slide-top-right {
	background-position: -195px -16px;
	top: -1px;
	right: -25px;
}
/** Custom CSS by JoomSpirit **/
.flexslider {
	overflow:visible !important;
}
.flexslider ul.slides {
	background-color: transparent;
}
.flexslider .slides > li {
	position:relative;
}
.flexslider ul.slides li a {
	display:block;
}
.flexslider .flex-caption {
	position : absolute ;
	left:0;
	margin: 20px;
	padding:10px 10px;
	z-index:10;
}
.flexslider ul.slides li a, .flexslider ul.slides li a:hover {
	color : inherit;
}
.flexslider ul.slides li .flex-caption a {
	display:inline;
	color: #359BED;
}
.flexslider ul.slides li .flex-caption a:hover {
	color : inherit;
	text-decoration: underline;
}
.flexslider ul.slides li a .flex-caption:hover {
	text-decoration: none;
	color : inherit;
	cursor:pointer;
}
.flexslider.position-caption-bottom-left .flex-caption{
	bottom:0;
	text-align:left;
}
.flexslider.position-caption-bottom-right .flex-caption {
	bottom:0;
	text-align:right;
}
.flexslider.position-caption-bottom-centered .flex-caption {
	bottom:0;
	text-align:center;
}
.flexslider.position-caption-top-left .flex-caption {
	top:0;
	text-align:left;
}
.flexslider.position-caption-top-right .flex-caption {
	top:0;
	text-align:right;
}
.flexslider.position-caption-top-centered .flex-caption {
	top:0;
	text-align:center;
}
.flexslider.bg-caption-black-00 .flex-caption {
	background-color : #000;
	background-image : none;
}
.flexslider.bg-caption-white-00 .flex-caption {
	background-color : #fff;
	background-image : none;
}
.flexslider.bg-caption-white-09 .flex-caption, .flexslider.bg-caption-black-09 .flex-caption {
	background-color : transparent;
	background-image : none;
}
.flexslider.bg-caption-black-02 .flex-caption {
	background: black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	opacity: 0.8;
}



/*############################################### 	
#
#	owl Carousel
#
################################################*/
/*	Core Owl Carousel CSS v1.24
------------------------------------------*/

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing { 
    cursor:url(../images/defaults/owlGrabbing.png) 8 8, move;
}
/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
/* CSS3 Transitions */
.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* goDown */
.owl-goUp-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goUp-in {
  -webkit-animation: goUp .6s ease both;
  -moz-animation: goUp .6s ease both;
  animation: goUp .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}
@-webkit-keyframes goUp {
  from { -webkit-transform: translateY(100%); }
}
@-moz-keyframes goUp {
  from { -moz-transform: translateY(100%); }
}
@keyframes goUp {
  from { transform: translateY(100%); }
}
@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}

/*	Owl Carousel Owl Demo Theme v1.24
------------------------------------------*/
.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}
/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}
/* Styling Pagination*/
.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}
/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(/images/defaults/owlLoader.gif) no-repeat center center
}



/*	owl Carousel
----------------------------------------------------------------------------------------------------*/
.hot-deal-wrapper {
	position: relative;
	margin-right: -20px
}
#hot-deal-1 .item{
	margin-right: 20px;
}
.hotDeal1Navigation{
	text-align: center;
	position: absolute;
	top: -54px;
	right: 20px;
	
}
.hotDeal1Navigation a{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor:pointer;
	color: #FFF;
	line-height: 20px;
}
.hotDeal1Navigation a i {
	font-size: 16px;
	line-height: 16px;
	margin: 0;
	background: #6D7580;
	color: #FFF;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.hotDeal1Navigation a.hotDeal1-prev i {
	padding: 4px 4px 0 4px !important;
}
.hotDeal1Navigation a.hotDeal1-next i {
	padding: 4px 4px 0 4px !important;
}
.hotDeal1Navigation a:hover i {
	Background: #0086EF;
	color: #FFF;
}

#hot-deal-2 .item, #hot-deal-3 .item{
	margin-right: 20px;
	color: #FFF;
}
.hotDeal2Navigation{
	text-align: center;
	position: absolute;
	bottom: -40px;
	left: 15px;
	
}
.hotDeal2Navigation a{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor:pointer;
	color: #FFF;
	line-height: 20px;
}
.hotDeal2Navigation a i {
	font-size: 16px;
	line-height: 16px;
	margin: 0;
	background: #6D7580;
	color: #FFF;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.hotDeal2Navigation a.hotDeal2-prev i,.hotDeal2Navigation a.hotDeal3-prev i  {
	padding: 4px 4px 0 4px !important;
}
.hotDeal2Navigation a.hotDeal2-next i, .hotDeal2Navigation a.hotDeal3-next i {
	padding: 4px 4px 0 4px !important;
}
.hotDeal2Navigation a:hover i {
	Background: #0086EF;
	color: #FFF;
}

#testimonial-carousel .item{
	background: #0086EF;
	padding: 30px 0px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
#tweet-carousel .item{
	background: #BC6882;
	padding: 30px 0px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
#owl-carousel .item{
	background: #6476B5;
	padding: 30px 0px;
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
.customNavigation{
	text-align: center;
}
.customNavigation a{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Owl Slider
----------------------------------------------------------------------------------------------------*/
.owl-slider-wrapper {
	position: relative;
}
#owl-slider .item {
	position: relative;
}
#owl-slider .item img{
    display: block;
    width: 100%;
    height: auto;
}
.owl-capture {
	position: absolute;
	top: 30%;
	left: 30px;
	color: #FFF;
}
.owl-capture h2 {
	margin: 0;
}
.owl-capture h2 a {
	padding: 10px 20px;
	background: #FFF;
	background: rgba(255, 255, 255, 0.9);
	color: #435263;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 32px;
	line-height: 40px;
	margin: 0;
	display: inline-block;
}
.owl-capture h2 a:hover {
	color: #0086EF;
}
.owl-capture p {
	background: #435263;
	background: rgba(67,82,99, 0.9);
	font-size: 20px;
	line-height: 26px;
	padding: 6px 20px;
	display: inline-block;
	margin: 0;
}
.owl-capture p.owl-price {
	background: #0086EF;
	background: rgba(127,100,181, 0.9);
	color: #FFF;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}
.right-capture .owl-capture {
	float: right;
	text-align: right;
	right: 30px;
	top: 55%;
}
.center-capture .owl-capture {
	text-align: center;
	left: 0;
	top: 26%;
	display: block;
	width: 100%;
}
.center-capture .owl-capture h2 a {
	background: none;
	color: #FFF;
	font-size: 40px;
}
.center-capture .owl-capture h2 a:hover {
	color: #3C454E;
}
.center-capture .owl-capture p {
	background: none;
	color: #FFF;
	font-size: 20px;
}
.owlSliderNavigation{
  text-align: center;
}
.owlSliderNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owlSliderNavigation{
	position: absolute;
	bottom: 40px;
	right: 30px;
	padding: 0;
	font-size: 42px;
}
.owlSliderNavigation a{
	cursor:pointer;
	color: #FFF;
	font-size: 42px;
	font-weight: normal;
	position: relative;
	padding: 0 !important;
}
.owlSliderNavigation a i {
	font-size: 30px;
	line-height: 30px;
	padding: 0 !important;
	margin: 0;
}
.owlSliderNavigation a:hover i {
	color: #0086EF;
}
.owlSliderNavigation a.owlSlider3-prev { }
.owlSliderNavigation a.owlSlider3-next { }

.owl-slider-wrapper .owl-controls {
	position: absolute;
	bottom: 10px;
	right: 30px;
	float: right;
	text-align: right;
	margin: 0;
	padding: 0;
}
.owl-slider-wrapper .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 2px 3px !important;
	filter: Alpha(Opacity=70);/*IE7 fix*/
	opacity: 0.7;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #FFF;
}
.owl-slider-wrapper .owl-controls .owl-page.active span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	
}
.owl-slider-wrapper .owl-controls.clickable .owl-page:hover span {
	background: #0086EF;
}

.owl-slider-wrapper.center-capture  .owl-controls {
	display: none !important;
}
.center-capture .owlSliderNavigation {
	bottom: 46%;
	right: 47%;
}


#owl-slider-2 .item {
	position: relative;
}
#owl-slider-2 .item img{
    display: block;
    width: 100%;
    height: auto;
}
.owl-capture-2 {
	position: absolute;
	top: 20px;
	left: 20px;
	color: #FFF;
}
.owl-capture-2 h3 {
	background: rgba(255, 255, 255, 0.8);
	padding: 5px 10px;
}
.owlSlider2Navigation{
  text-align: center;
}
.owlSlider2Navigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.owl-slider-3-wrapper {
	position: relative;
	padding: 0;
	margin: 0;
}
#owl-slider-3 .item {
	position: relative;
}
#owl-slider-3 .item img{
    display: block;
    width: 100%;
    height: auto;
}
.owlSlider3Navigation{
	position: absolute;
	bottom: 40px;
	right: 20px;
	padding: 0;
	font-size: 42px;
}
.owlSlider3Navigation a{
	cursor:pointer;
	color: #FFF !important;
	filter: Alpha(Opacity=70);/*IE7 fix*/
	opacity: 0.7;
	font-size: 42px;
	font-weight: normal;
	position: relative;
	padding: 0 !important;
}
.owlSlider3Navigation a i {
	font-size: 30px;
	line-height: 30px;
	border: 2px solid #FFF;
	border-radius: 50%;
	padding: 0 !important;
	margin: 0;
}
.owlSlider3Navigation a:hover {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}
.owlSlider3Navigation a.owlSlider3-prev { }
.owlSlider3Navigation a.owlSlider3-next { }

.owl-slider-3-wrapper .owl-controls {
	position: absolute;
	bottom: 10px;
	right: 20px;
	float: right;
	text-align: right;
	margin: 0;
	padding: 0;
}
.owl-slider-3-wrapper .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 2px 3px !important;
	filter: Alpha(Opacity=70);/*IE7 fix*/
	opacity: 0.7;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #FFF !important;
}
.owl-slider-3-wrapper .owl-controls .owl-page.active span,
.owl-slider-3-wrapper .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}
/* Image Slider with carousel
----------------------------------------------------------------------------------------------------*/
#full-size-image .item{
	background: #FFBC0D;
	padding: 80px 0px;
	color: #FFF;
	text-align: center;
}
#carousel-thumb .item{
	background: #42D80B;
	padding: 30px 0px;
	margin-right: 15px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
}
.carousel-thumb-wrapper {
	padding: 0 40px;
}
#carousel-thumb .item h1{
	font-size: 18px;
}
#carousel-thumb .activing .item{
	background: #0c83e7;
}


/*	jQuery Customize
----------------------------------------------------------------------*/
/* Tipsy */
.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000}
.tipsy-inner { padding: 1px 10px 0px; background-color: #0086EF; color: white; max-width: 300px; text-align: center; }
.tipsy-inner { border-radius: 4px; }
.tipsy-arrow { position: absolute; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px}
.tipsy .tipsy-arrow:before {content: close-quote;position: absolute;width: 0px;height: 0px}
.tipsy-n .tipsy-arrow:before {bottom: -1px;left: -2px;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid #0086EF;}
.tipsy-nw .tipsy-arrow { top: 0; left: 10px}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px}
.tipsy-s .tipsy-arrow:before {bottom: -1px;left: -2px;border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 6px solid #0086EF;}
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px}
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px}
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px }
.tipsy-e .tipsy-arrow:before {bottom: -6px;right: 0px;border-right: 6px solid rgba(0, 0, 0, 0);border-top: 6px solid #0086EF}
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px}
.tipsy-w .tipsy-arrow:before {bottom: 6px;left: -1px;border-bottom: 6px solid rgba(0, 0, 0, 0);border-right: 6px solid #0086EF}
.tipsy-n div {-webkit-animation: fadeInUp 0.2s;animation: fadeInUp 0.2s;}
.tipsy-s div {-webkit-animation: fadeInDown 0.3s;animation: fadeInDown 0.3s;}
.tipsy-w div {-webkit-animation: fadeInRight 0.2s;animation: fadeInRight 0.2s;}
.tipsy-e div {-webkit-animation: fadeInLeft 0.2s;animation: fadeInLeft 0.2s;}
