#images {
	display:none;
	float:left;	
	overflow: hidden;
	padding: 0 50px;
	width: 100%;
}

#right,
#left {
	position: absolute;
	top: 0;
}

#left {
	left: 0;
}

#right {
	right: 0;
}

.panel {
	position: relative;
}

#right a img,
#left a img {
	height:40px;
	width:20px;
	border:none;
	opacity:0.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter:alpha(opacity=50);
}

#right a:hover img,
#left a:hover img {
	opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
}

#right a,
#left a {
	outline:none;
}

#left .left-arrow,
#right .right-arrow {
	display: block;
	height: 40px;
	width: 40px;
	margin-top: 25%;
	position: relative;
}

#left .left-arrow:after,
#right .right-arrow:after {
	content: "";
	width: 16px;
	height: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -8px;
	background: url(icons.png) no-repeat;
}

.svg #left .left-arrow:after,
.svg #right .right-arrow:after {
	background-image: url(http://www.unifato.net/estate/assets/core/img/icons.svg);
}

#left .left-arrow:after {
	background-position: -25px -697px;
}

#right .right-arrow:after {
	background-position: -25px -761px;
}

#left .left-arrow:hover,
#right .right-arrow:hover {
	background-color: #CCC;
	opacity: 0.4;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter:alpha(opacity=40);
}

#right a.right-arrow {
	background-position: right top;
}

.panel {
	margin: 10px 0px 0px 0px;
}

ul.exposureThumbs {
	/* background:#333;
	border:3px solid #333;
	border-right:none; */
	padding:0;
	margin:0;
	list-style-type:none;
}

ul.exposureThumbs li {
	background:#111;
	margin:0 3px 0 0;
	padding:0;
	text-align:center;
	display:none;
	float:left;
}

ul.exposureThumbs li img {
	cursor:pointer;
}

ul.exposureThumbs li.last {

}

.exposureTarget {
	width:800px;
	height:600px;
	background-color:#111;	
	background-image:url(res/loader.gif);
	background-repeat:no-repeat;
	background-position:center center;
	padding:0;
	margin:0 auto;
	position:relative;
	overflow:hidden; 
}

.exposureWrapper {
	position:absolute; 
	top:0; 
	left:0;
}

.exposureWrapper img {
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
}

.exposureLoaded {
	background-image:none;	
}

.exposureData {
	position:absolute;
 	left:0;
 	right:0;
 	bottom:0;
	padding:7px;
	background-image:url(res/veil.png);
	color:#fff;
	font-size:16px;
	font-weight:bold;
}

/* In this demo we are using thumbs with fixed size */
ul.exposureThumbs li {
	/* width:150px;
	height:79px; */
	margin: 0px 5px 10px 5px;
}

.exposureSlideshowControls a {
	font-size:11px;
	color:#bba;
	text-decoration:none;
	outline:none;
	padding:2px 6px;
	display:inline;
}

.exposureSlideshowControls a:active,
.exposureSlideshowControls a:hover {
	background-color:#999;
	color:#444;
}

.clear {
	clear:both;	
}

p.info {
	margin:40px auto;
	text-align:center;	
	width:600px;
}

p.info a {
	color:#006fc0;	
}

p.info a:hover, p.info a:active {
	color:#0084e7;	
}

@media only screen and (max-width: 980px) {
	
	#exposure {
		width: auto !important;
		height: auto !important;
		position: relative;
	}

	.exposureWrapper .exposureCurrentImage,
	.exposureWrapper {
		position: relative;
		width: 100%;
	}

	.exposureWrapper .exposureLastImage {
		display: none !important;
	}
}